Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,json,html,yaml,md,mdx}": [
    "prettier --write"
  ]
}

Update src/pages/components/content-block.mdx
  src/pages/components/content-block.mdx
Due: prettier --write

fix icon path
  src/pages/about-carbon-for-ibm.com/releases.mdx
Due: prettier --write

feat/add releases page (#1746)
  src/data/nav-items.yaml
  src/pages/about-carbon-for-ibm.com/releases.mdx
Due: prettier --write

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

update whats happening mdx (#1745)
  src/pages/whats-happening/index.mdx
Due: prettier --write

feat(github-actions): update workflows with final branches
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
Due: none

feat(github-actions): add publish workflows to prod (#1732)
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
Due: none

feat(github-actions): add publish for v1 branch
  .github/workflows/publish-v1.yml
Due: none

docs(storybook): replace all storybook links with v1 links
  src/data/components.json
  src/pages/about-carbon-for-ibm.com/about.mdx
  src/pages/developing/frameworks/react-wrapper.mdx
  src/pages/developing/frameworks/web-components.mdx
  src/pages/developing/web-components-tutorial/step-1.mdx
  src/pages/developing/web-components-tutorial/step-2.mdx
  src/pages/developing/web-components-tutorial/step-3.mdx
  src/pages/developing/web-components-tutorial/step-4.mdx
  src/pages/guidelines/right-to-left.mdx
  src/pages/index.mdx
  src/pages/patterns/lead-space.mdx
  src/pages/resources/index.mdx
Due: prettier --write

docs(storybook): replace all storybook links with v1 links (#1751)
  src/data/components.json
  src/pages/about-carbon-for-ibm.com/about.mdx
  src/pages/developing/frameworks/react-wrapper.mdx
  src/pages/developing/frameworks/web-components.mdx
  src/pages/developing/web-components-tutorial/step-1.mdx
  src/pages/developing/web-components-tutorial/step-2.mdx
  src/pages/developing/web-components-tutorial/step-3.mdx
  src/pages/developing/web-components-tutorial/step-4.mdx
  src/pages/guidelines/right-to-left.mdx
  src/pages/index.mdx
  src/pages/patterns/lead-space.mdx
  src/pages/resources/index.mdx
Due: prettier --write

Docs--add-content-block-page-v2 (#1750)
  src/data/components.json
  src/data/nav-items.yaml
  src/pages/components/content-block.mdx
Due: prettier --write

Written content update
  src/pages/guidelines/spacing.mdx
Due: prettier --write

Images
  src/images/guidelines/spacing/guidelines-spacing-content-components-01.png
  src/images/guidelines/spacing/guidelines-spacing-example-01.png
  src/images/guidelines/spacing/guidelines-spacing-example-02.png
  src/images/guidelines/spacing/guidelines-spacing-responsive-spacing-01.png
  src/images/guidelines/spacing/guidelines-spacing-responsive-spacing-02.png
  src/images/guidelines/spacing/guidelines-spacing-spacing-concepts-01.png
  src/images/guidelines/spacing/guidelines-spacing-spacing-concepts-02.png
  src/images/guidelines/spacing/guidelines-spacing-spacing-value-01.png
  src/images/guidelines/spacing/guidelines-spacing-spacing-value-02.png
  src/images/guidelines/spacing/spacing-example-01.jpg
  src/images/guidelines/spacing/spacing-example-02.jpg
  src/pages/guidelines/spacing.mdx
Due: prettier --write

Content pages updated w spacing tables
  src/pages/components/content-block.mdx
  src/pages/components/content-group.mdx
  src/pages/components/content-item.mdx
  src/pages/components/content-section.mdx
  src/pages/guidelines/spacing.mdx
Due: prettier --write

Content component table
  src/pages/guidelines/spacing.mdx
Due: prettier --write

Update margin image
  src/images/guidelines/spacing/guidelines-spacing-content-components-01.png
Due: none

Update src/pages/guidelines/spacing.mdx
  src/pages/guidelines/spacing.mdx
Due: prettier --write

updated purple arrow image
  src/pages/components/content-block.mdx
Due: prettier --write

Update expressive styling links
  src/pages/guidelines/spacing.mdx
Due: prettier --write

diff link
  src/pages/guidelines/spacing.mdx
Due: prettier --write

link
  src/pages/guidelines/spacing.mdx
Due: prettier --write

fix giant CTA reference
  src/pages/components/content-block.mdx
Due: prettier --write

update arrow with spacing
  src/gatsby-theme-carbon/templates/Homepage.js
Due: eslint --fix, prettier --write

refactor(hr): reorder anchor links
  src/pages/components/horizontal-rule.mdx
Due: prettier --write

docs(hr): begin v2 updates
  src/pages/components/horizontal-rule.mdx
Due: prettier --write

Update src/pages/about-carbon-for-ibm.com/releases.mdx
  src/pages/about-carbon-for-ibm.com/releases.mdx
Due: prettier --write

update v11 language
  src/pages/about-carbon-for-ibm.com/releases.mdx
Due: prettier --write
