Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(docs): remove beta tag from docs
  src/pages/developing/frameworks/web-components.mdx
Due: prettier --write

Alt text
  src/components/ResourceLinks/ResourceLinks.js
Due: eslint --fix, prettier --write

chore(docs): add specific info about tagged cdn versions (#1500)
  src/pages/developing/frameworks/web-components.mdx
Due: prettier --write

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

chore(react): add deprecation notice to react page
  src/pages/developing/frameworks/react.mdx
Due: prettier --write

Update src/pages/developing/frameworks/react.mdx
  src/pages/developing/frameworks/react.mdx
Due: prettier --write

fix(nav): remove guidelines/overview link
  src/data/nav-items.yaml
Due: prettier --write

chore(react): add deprecation notice to react page (#1502)
  src/pages/developing/frameworks/react.mdx
Due: prettier --write

ToC url update
  src/data/components.json
Due: prettier --write

Lead space search update
  src/data/components.json
Due: prettier --write

Lead space update
  src/data/components.json
Due: prettier --write

Content section update
  src/data/components.json
Due: prettier --write

Content section 02
  src/data/components.json
Due: prettier --write

Content block media update
  src/data/components.json
Due: prettier --write

Content block horizontal update
  src/data/components.json
Due: prettier --write

Expressive modal update
  src/data/components.json
Due: prettier --write

fix: standardize card icon size (#1490)
  src/styles/_homepage.scss
Due: prettier --write

fix(nav): remove guidelines/overview link (#1507)
  src/data/nav-items.yaml
Due: prettier --write

chore(deps): update yarn.lock
  yarn.lock
Due: none

chore(deps): update deps
  .yarn/offline-mirror/@types-glob-7.1.4.tgz
  .yarn/offline-mirror/@types-glob-7.2.0.tgz
  .yarn/offline-mirror/@types-lodash-4.14.175.tgz
  .yarn/offline-mirror/@types-lodash-4.14.182.tgz
  .yarn/offline-mirror/@types-node-14.17.22.tgz
  .yarn/offline-mirror/@types-node-16.10.4.tgz
  .yarn/offline-mirror/@types-node-18.6.2.tgz
  .yarn/offline-mirror/devcert-1.2.0.tgz
  .yarn/offline-mirror/devcert-1.2.2.tgz
  .yarn/offline-mirror/get-intrinsic-1.1.2.tgz
  .yarn/offline-mirror/glob-7.2.3.tgz
  .yarn/offline-mirror/has-symbols-1.0.3.tgz
  .yarn/offline-mirror/is-ssh-1.3.3.tgz
  .yarn/offline-mirror/is-ssh-1.4.0.tgz
  .yarn/offline-mirror/is-valid-domain-0.1.6.tgz
  .yarn/offline-mirror/jpeg-js-0.4.3.tgz
  .yarn/offline-mirror/jpeg-js-0.4.4.tgz
  .yarn/offline-mirror/minimatch-3.1.2.tgz
  .yarn/offline-mirror/mkdirp-0.5.5.tgz
  .yarn/offline-mirror/mkdirp-0.5.6.tgz
  .yarn/offline-mirror/moment-2.29.3.tgz
  .yarn/offline-mirror/moment-2.29.4.tgz
  .yarn/offline-mirror/object-inspect-1.12.2.tgz
  .yarn/offline-mirror/parse-path-4.0.3.tgz
  .yarn/offline-mirror/parse-path-4.0.4.tgz
  .yarn/offline-mirror/parse-url-6.0.0.tgz
  .yarn/offline-mirror/parse-url-6.0.5.tgz
  .yarn/offline-mirror/protocols-2.0.1.tgz
  .yarn/offline-mirror/qs-6.10.1.tgz
  .yarn/offline-mirror/qs-6.11.0.tgz
  .yarn/offline-mirror/source-map-support-0.5.20.tgz
  .yarn/offline-mirror/source-map-support-0.5.21.tgz
  .yarn/offline-mirror/terser-4.8.0.tgz
  .yarn/offline-mirror/terser-4.8.1.tgz
Due: none

Update src/data/components.json
  src/data/components.json
Due: prettier --write

Content block horizontal link fix
  src/data/components.json
Due: prettier --write

JSON Update + ResourceCard reorder (#1499)
  src/components/ResourceLinks/ResourceLinks.js
  src/data/components.json
Due: eslint --fix, prettier --write

chore(deps): various updates to `yarn.lock` (#1508)
  .yarn/offline-mirror/@types-glob-7.1.4.tgz
  .yarn/offline-mirror/@types-glob-7.2.0.tgz
  .yarn/offline-mirror/@types-lodash-4.14.175.tgz
  .yarn/offline-mirror/@types-lodash-4.14.182.tgz
  .yarn/offline-mirror/@types-node-14.17.22.tgz
  .yarn/offline-mirror/@types-node-16.10.4.tgz
  .yarn/offline-mirror/@types-node-18.6.2.tgz
  .yarn/offline-mirror/devcert-1.2.0.tgz
  .yarn/offline-mirror/devcert-1.2.2.tgz
  .yarn/offline-mirror/get-intrinsic-1.1.2.tgz
  .yarn/offline-mirror/glob-7.2.3.tgz
  .yarn/offline-mirror/has-symbols-1.0.3.tgz
  .yarn/offline-mirror/is-ssh-1.3.3.tgz
  .yarn/offline-mirror/is-ssh-1.4.0.tgz
  .yarn/offline-mirror/is-valid-domain-0.1.6.tgz
  .yarn/offline-mirror/jpeg-js-0.4.3.tgz
  .yarn/offline-mirror/jpeg-js-0.4.4.tgz
  .yarn/offline-mirror/minimatch-3.1.2.tgz
  .yarn/offline-mirror/mkdirp-0.5.5.tgz
  .yarn/offline-mirror/mkdirp-0.5.6.tgz
  .yarn/offline-mirror/moment-2.29.3.tgz
  .yarn/offline-mirror/moment-2.29.4.tgz
  .yarn/offline-mirror/object-inspect-1.12.2.tgz
  .yarn/offline-mirror/parse-path-4.0.3.tgz
  .yarn/offline-mirror/parse-path-4.0.4.tgz
  .yarn/offline-mirror/parse-url-6.0.0.tgz
  .yarn/offline-mirror/parse-url-6.0.5.tgz
  .yarn/offline-mirror/protocols-2.0.1.tgz
  .yarn/offline-mirror/qs-6.10.1.tgz
  .yarn/offline-mirror/qs-6.11.0.tgz
  .yarn/offline-mirror/source-map-support-0.5.20.tgz
  .yarn/offline-mirror/source-map-support-0.5.21.tgz
  .yarn/offline-mirror/terser-4.8.0.tgz
  .yarn/offline-mirror/terser-4.8.1.tgz
  yarn.lock
Due: none

replace ecosystem diagram image
  src/images/about/ecosystem-diagram.png
Due: none

Update adopting.mdx
  src/pages/about-carbon-for-ibm.com/adopting.mdx
Due: prettier --write

replace ecosystem diagram image (#1511)
  src/images/about/ecosystem-diagram.png
Due: none

Update adopting.mdx (#1512)
  src/pages/about-carbon-for-ibm.com/adopting.mdx
Due: prettier --write

Update designing index
  src/pages/designing/index.mdx
Due: prettier --write

updated YL link
  src/pages/designing/index.mdx
Due: prettier --write

Update designing index (#1513)
  src/pages/designing/index.mdx
Due: prettier --write

feat(react-wrapper): add framework option
  src/images/icon/web-components-icon.svg
  src/pages/developing/frameworks/react-wrapper.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/frameworks/web-components.mdx
Due: prettier --write

fix(react): update note to point to rw
  src/pages/developing/frameworks/react.mdx
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,scss,json,html,yaml,md,mdx})
