Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

change header
  src/pages/help/index.mdx
Due: prettier --write

[Patterns – Lead space] Minor edits, remove button alignment info (#1643)
  src/pages/patterns/lead-space.mdx
Due: prettier --write

updates to help overview page (#1659)
  src/pages/help/index.mdx
Due: prettier --write

update faq page
  src/pages/help/faqs.mdx
Due: prettier --write

update faq page (#1660)
  src/pages/help/faqs.mdx
Due: prettier --write

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

remove gif, slight reorganization
  src/pages/components/cards.mdx
Due: prettier --write

remove gif, slight reorganization (#1663)
  src/pages/components/cards.mdx
Due: prettier --write

fix style model typo
  src/pages/guidelines/style-models.mdx
Due: prettier --write

fix style model typo (#1665)
  src/pages/guidelines/style-models.mdx
Due: prettier --write

update homepage c2c release
  src/images/homepage/articles-cwc-v2-release.png
Due: none

update homepage
  src/pages/index.mdx
Due: prettier --write

Update homepage cwc release (#1666)
  src/images/homepage/articles-cwc-v2-release.png
  src/pages/index.mdx
Due: prettier --write

update lts image
  src/images/release-schedule/dotcom-lts.png
Due: none

Change to October in page content
  src/pages/whats-happening/index.mdx
Due: prettier --write

update lts to november
  src/images/release-schedule/dotcom-lts.png
Due: none

update date to november
  src/pages/whats-happening/index.mdx
Due: prettier --write

update lts image (#1667)
  src/images/release-schedule/dotcom-lts.png
  src/pages/whats-happening/index.mdx
Due: prettier --write

Update dotcom v2 branch (#1669)
  src/gatsby-theme-carbon/components/Footer/index.js
  src/images/homepage/articles-cwc-v2-release.png
  src/images/release-schedule/dotcom-lts.png
  src/pages/components/cards.mdx
  src/pages/components/content-block-cards.mdx
  src/pages/components/content-block-simple.mdx
  src/pages/components/content-group.mdx
  src/pages/components/feature-section.mdx
  src/pages/components/lead-space-search.mdx
  src/pages/designing/index.mdx
  src/pages/designing/sketch-kit.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/guidelines/expressive-styling/overview.mdx
  src/pages/guidelines/expressive-styling/styling-strategies.mdx
  src/pages/guidelines/expressive-styling/type-pairing.mdx
  src/pages/guidelines/style-models.mdx
  src/pages/help/faqs.mdx
  src/pages/help/index.mdx
  src/pages/index.mdx
  src/pages/patterns/cards.mdx
  src/pages/patterns/lead-space.mdx
  src/pages/whats-happening/index.mdx
Due: eslint --fix, prettier --write

content update (no image yet)
  src/pages/components/callout-quote.mdx
Due: prettier --write

Shift content
  src/pages/components/callout-quote.mdx
Due: prettier --write

change homepage to white theme
  gatsby-config.js
Due: eslint --fix, prettier --write

update homepage to white
  gatsby-config.js
Due: eslint --fix, prettier --write

Remove design and func spec link globally
  src/components/ResourceLinks/ResourceLinks.js
Due: eslint --fix, prettier --write

remove dark color on cards
  src/pages/index.mdx
Due: prettier --write

content changes no img yet
  src/pages/components/callout-with-media.mdx
Due: prettier --write

homepage background to g10
  gatsby-config.js
Due: eslint --fix, prettier --write

update homepage to white (#1671)
  gatsby-config.js
  src/pages/index.mdx
Due: eslint --fix, prettier --write

link list updates v2
  src/images/component/link-list/link-list-end-of-section.png
  src/images/component/link-list/link-list-horizontal.png
  src/images/component/link-list/link-list-overview.png
  src/images/component/link-list/link-list-vertical.png
  src/pages/components/link-list.mdx
Due: prettier --write

fix image path and anchor links order
  src/pages/components/link-list.mdx
Due: prettier --write

move resource links
  src/pages/components/callout-with-media.mdx
Due: prettier --write

Added image and changed path
  src/images/component/callout-with-media/cwm-overview.png
  src/images/pattern/callout-with-media/callout-with-media.jpg
  src/pages/components/callout-with-media.mdx
Due: prettier --write

Update image and path
  src/images/component/callout-quote/cq-overview.png
  src/images/pattern/callout-quote/callout-quote.jpg
  src/pages/components/callout-quote.mdx
Due: prettier --write

Update src/pages/components/callout-quote.mdx
  src/pages/components/callout-quote.mdx
Due: prettier --write

Update src/pages/components/link-list.mdx
  src/pages/components/link-list.mdx
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,scss,json,html,yaml,md,mdx})
