Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,json,html,yaml,md,mdx}": [
    "prettier --write"
  ]
}

revert
  src/pages/about-carbon-for-ibm.com/about.mdx
Due: prettier --write

bold and node update
  src/pages/whats-happening/index.mdx
Due: prettier --write

Update src/data/nav-items.yaml
  src/data/nav-items.yaml
Due: prettier --write

Update src/pages/whats-happening/index.mdx
  src/pages/whats-happening/index.mdx
Due: prettier --write

copy and resource cards
  src/data/nav-items.yaml
  src/pages/whats-happening/index.mdx
Due: prettier --write

YourLearning svg
  src/images/icon/yourlearning.svg
  src/pages/whats-happening/index.mdx
Due: prettier --write

docs(lts): add lts chart
  src/images/release-schedule/dotcom-lts.png
Due: none

PI scrub, remove Not changing, aria label
  src/pages/whats-happening/index.mdx
Due: prettier --write

docs(lts): add lts chart (#1573)
  src/images/release-schedule/dotcom-lts.png
Due: none

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

Added LTS image
  src/pages/whats-happening/index.mdx
Due: prettier --write

Presentation link, box logo
  src/images/icon/box-logo.svg
  src/pages/whats-happening/index.mdx
Due: prettier --write

test
  src/pages/whats-happening/index.mdx
Due: prettier --write

Remove react faq item
  src/pages/whats-happening/index.mdx
Due: prettier --write

Image to link, added internal only
  src/pages/whats-happening/index.mdx
Due: prettier --write

Remove 'the'
  src/pages/whats-happening/index.mdx
Due: prettier --write

image in
  src/data/nav-items.yaml
  src/pages/whats-happening/index.mdx
Due: prettier --write

[What's Happening WIP] v2 announcement (#1571)
  src/data/nav-items.yaml
  src/images/icon/box-logo.svg
  src/images/icon/yourlearning.svg
  src/pages/whats-happening/expressive-update.mdx
  src/pages/whats-happening/index.mdx
Due: prettier --write

Revert "[What's Happening WIP] v2 announcement (#1571)"
  src/data/nav-items.yaml
  src/images/icon/box-logo.svg
  src/images/icon/yourlearning.svg
  src/pages/whats-happening/expressive-update.mdx
  src/pages/whats-happening/index.mdx
Due: prettier --write

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/@sideway-formula-3.0.0.tgz
  .yarn/offline-mirror/@sideway-formula-3.0.1.tgz
Due: none

chore(deps): upgrade node version in GH workflow
  .github/workflows/e2e-tests.yml
Due: none

chore(deps): remove http-server
  package.json
Due: prettier --write

chore(deps): remove start-server-and-test package
  package.json
Due: prettier --write

Update index articles.mdx
  src/pages/index.mdx
Due: prettier --write

add article images
  src/images/homepage/article-cwc-coming-soon.png
  src/images/homepage/article-introducing-cwc.png
Due: none

Update image path.mdx
  src/pages/index.mdx
Due: prettier --write

Update src/pages/index.mdx
  src/pages/index.mdx
Due: prettier --write

chore: update lockfile
  .yarn/offline-mirror/basic-auth-2.0.1.tgz
  .yarn/offline-mirror/corser-2.0.1.tgz
  .yarn/offline-mirror/debug-4.3.2.tgz
  .yarn/offline-mirror/event-stream-3.3.4.tgz
  .yarn/offline-mirror/from-0.1.7.tgz
  .yarn/offline-mirror/he-1.2.0.tgz
  .yarn/offline-mirror/html-encoding-sniffer-3.0.0.tgz
  .yarn/offline-mirror/http-server-14.1.0.tgz
  .yarn/offline-mirror/iconv-lite-0.6.3.tgz
  .yarn/offline-mirror/map-stream-0.1.0.tgz
  .yarn/offline-mirror/pause-stream-0.0.11.tgz
  .yarn/offline-mirror/portfinder-1.0.28.tgz
  .yarn/offline-mirror/ps-tree-1.2.0.tgz
  .yarn/offline-mirror/qs-6.10.3.tgz
  .yarn/offline-mirror/secure-compare-3.0.1.tgz
  .yarn/offline-mirror/split-0.3.3.tgz
  .yarn/offline-mirror/start-server-and-test-1.14.0.tgz
  .yarn/offline-mirror/stream-combiner-0.0.4.tgz
  .yarn/offline-mirror/union-0.5.0.tgz
  .yarn/offline-mirror/url-join-4.0.1.tgz
  .yarn/offline-mirror/wait-on-6.0.0.tgz
  .yarn/offline-mirror/whatwg-encoding-2.0.0.tgz
  yarn.lock
Due: none

chore: update lint workflow
  .github/workflows/lint.yml
Due: none
