Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,json,html,yaml,md,mdx}": [
    "prettier --write"
  ]
}

Update aside element in Figma kit page
  src/pages/designing/figma-kit.mdx
Due: prettier --write

Update sketch kit
  src/pages/designing/sketch-kit.mdx
Due: prettier --write

Update aside element in Figma kit page (#1480)
  src/pages/designing/figma-kit.mdx
Due: prettier --write

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

Update sketch kit (#1481)
  src/pages/designing/sketch-kit.mdx
Due: prettier --write

Update image
  wiki/Layout-component/Universal-banner.md
Due: prettier --write

Update language
  wiki/Layout-component/Universal-banner.md
Due: prettier --write

chore(tutorial): remove build file push in step-5
  src/images/tutorial/deploy-on-github-pages.png
  src/pages/developing/web-components-tutorial/step-5.mdx
Due: prettier --write

Updated images and language
  src/images/component/universal-banner/universal-banner--anatomy--060122.png
  src/images/component/universal-banner/universal-banner--anatomy--928.png
  src/images/component/universal-banner/universal-banner--behaviors--060122.png
  src/images/component/universal-banner/universal-banner--behaviors--448.png
  src/images/component/universal-banner/universal-banner--overview--060122.png
  src/images/component/universal-banner/universal-banner--overview--928.png
  src/images/component/universal-banner/universal-banner--with-image--060122.png
  src/images/component/universal-banner/universal-banner--with-image--928.png
  src/images/component/universal-banner/universal-banner--with-text-only--060122.png
  src/images/component/universal-banner/universal-banner--with-text-only--928.png
  src/pages/components/universal-banner.mdx
Due: prettier --write

Updated images and JSON
  src/data/components.json
  src/images/component/universal-banner/universal-banner--behaviors--060122.png
  src/images/component/universal-banner/universal-banner--overview--060122.png
  src/images/component/universal-banner/universal-banner--with-text-only--060122.png
Due: prettier --write

chore(tutorial): swap image
  src/images/tutorial/deploy-on-github-pages.png
Due: none

Remove whats happening page
  src/data/nav-items.yaml
Due: prettier --write

Universal banner - Updated images and language (#1485)
  src/data/components.json
  src/images/component/universal-banner/universal-banner--anatomy--060122.png
  src/images/component/universal-banner/universal-banner--anatomy--928.png
  src/images/component/universal-banner/universal-banner--behaviors--060122.png
  src/images/component/universal-banner/universal-banner--behaviors--448.png
  src/images/component/universal-banner/universal-banner--overview--060122.png
  src/images/component/universal-banner/universal-banner--overview--928.png
  src/images/component/universal-banner/universal-banner--with-image--060122.png
  src/images/component/universal-banner/universal-banner--with-image--928.png
  src/images/component/universal-banner/universal-banner--with-text-only--060122.png
  src/images/component/universal-banner/universal-banner--with-text-only--928.png
  src/pages/components/universal-banner.mdx
Due: prettier --write

Update src/pages/developing/web-components-tutorial/step-5.mdx
  src/pages/developing/web-components-tutorial/step-5.mdx
Due: prettier --write

chore(tutorial): adjust deploy to github pages section in step 5 of tutorial (#1484)
  src/images/tutorial/deploy-on-github-pages.png
  src/pages/developing/web-components-tutorial/step-5.mdx
Due: prettier --write

Universal banner func spec update (#1483)
  wiki/Layout-component/Universal-banner.md
Due: prettier --write

add new medium article, fix storybook icon
  src/images/homepage/articles-service.png
  src/images/icon/storybook.svg
  src/pages/index.mdx
Due: prettier --write

add new medium article, fix storybook icon (#1492)
  src/images/homepage/articles-service.png
  src/images/icon/storybook.svg
  src/pages/index.mdx
Due: prettier --write

fix: standardize card icon size
  src/styles/_homepage.scss
Due: prettier --write

Fixed location
  src/pages/components/universal-banner.mdx
Due: prettier --write

Update step-2.mdx (#1479)
  src/pages/developing/web-components-tutorial/step-2.mdx
Due: prettier --write

Update to design link (#1474)
  src/data/components.json
Due: prettier --write

Remove whats happening page 2 (#1489)
  src/data/nav-items.yaml
Due: prettier --write

Fixed location (#1494)
  src/pages/components/universal-banner.mdx
Due: prettier --write

Resources - added React wrapper card
  src/pages/resources/index.mdx
Due: prettier --write

ResoureCard, reactwrapper to json, Back to top
  src/components/ResourceLinks/ResourceLinks.js
  src/data/components.json
Due: eslint --fix, prettier --write

Update src/components/ResourceLinks/ResourceLinks.js
  src/components/ResourceLinks/ResourceLinks.js
Due: eslint --fix, prettier --write

Removed Expressive theme card
  src/pages/resources/index.mdx
Due: prettier --write

Resources - added React wrapper card (#1496)
  src/pages/resources/index.mdx
Due: prettier --write

Space
  src/pages/components/back-to-top.mdx
Due: prettier --write

ResourceCard reactwrapper - Back-to-top (#1498)
  src/components/ResourceLinks/ResourceLinks.js
  src/data/components.json
  src/pages/components/back-to-top.mdx
Due: eslint --fix, prettier --write

JSON Update + ResourceCard reorder
  src/components/ResourceLinks/ResourceLinks.js
  src/data/components.json
Due: eslint --fix, prettier --write

Alt text on Resource card
  src/components/ResourceLinks/ResourceLinks.js
Due: eslint --fix, prettier --write

Alt rollback
  src/components/ResourceLinks/ResourceLinks.js
Due: eslint --fix, prettier --write

chore(docs): add specific info about tagged cdn versions
  src/pages/developing/frameworks/web-components.mdx
Due: prettier --write
