Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,json,html,yaml,md,mdx}": [
    "prettier --write"
  ]
}

test(e2e): change workflow to only run on upstream
  .github/workflows/e2e-tests.yml
Due: none

test(e2e): change workflow to only run on upstream
  .github/workflows/e2e-tests-prod.yml
  .github/workflows/e2e-tests.yml
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/debug-4.3.2.tgz
  .yarn/offline-mirror/debug-4.3.3.tgz
  .yarn/offline-mirror/engine.io-4.1.1.tgz
  .yarn/offline-mirror/engine.io-4.1.2.tgz
  .yarn/offline-mirror/mime-db-1.51.0.tgz
  .yarn/offline-mirror/mime-types-2.1.34.tgz
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/simple-get-3.1.0.tgz
  .yarn/offline-mirror/simple-get-3.1.1.tgz
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/node-fetch-2.6.5.tgz
  .yarn/offline-mirror/node-fetch-2.6.7.tgz
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/follow-redirects-1.14.4.tgz
  .yarn/offline-mirror/follow-redirects-1.14.7.tgz
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/nanoid-3.1.29.tgz
  .yarn/offline-mirror/nanoid-3.2.0.tgz
Due: none

fix(github-actions): fix token for lint runner
  .github/workflows/lint.yml
Due: none

fix(github-actions): fix e2e test script name
  .github/workflows/e2e-tests.yml
Due: none

chore(github-actions): add cache for gatsby builds
  .github/workflows/e2e-tests.yml
Due: none

chore(github-actions): update to use yarn cache for node setup
  .github/workflows/lint.yml
Due: none

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/accepts-1.3.7.tgz
  .yarn/offline-mirror/accepts-1.3.8.tgz
  .yarn/offline-mirror/cookie-0.4.2.tgz
  .yarn/offline-mirror/debug-4.3.3.tgz
  .yarn/offline-mirror/engine.io-4.1.1.tgz
  .yarn/offline-mirror/engine.io-4.1.2.tgz
  .yarn/offline-mirror/mime-db-1.51.0.tgz
  .yarn/offline-mirror/mime-types-2.1.34.tgz
  .yarn/offline-mirror/negotiator-0.6.3.tgz
Due: none

Rearrange content items and link list
  src/pages/components/cta-section.mdx
Due: prettier --write

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

test(cypress): add retries config and increase timeout
  tests/e2e/cypress-prod.json
  tests/e2e/cypress.json
Due: prettier --write

test(cypress): add retries config and increase timeout (#1453)
  tests/e2e/cypress-prod.json
  tests/e2e/cypress.json
Due: prettier --write

table-of-contents-updates
  src/pages/components/table-of-contents.mdx
Due: prettier --write

fix: remove extra next/prev button top padding on homepage
  src/styles/_homepage.scss
Due: prettier --write

fix: remove extra next/prev button top padding on homepage (#1456)
  src/styles/_homepage.scss
Due: prettier --write

chore(image): remove unused image
  component--lead-space--medium.jpg
Due: none

change cta section to cta block and section
  src/data/nav-items.yaml
  src/pages/components/cta-block-and-section.mdx
Due: prettier --write

add in browser image for CTA section
  src/images/component/cta-section/cta-section--content-items.png
Due: none

reorder content
  src/pages/components/footer.mdx
Due: prettier --write

added jump links to overview
  src/pages/components/footer.mdx
Due: prettier --write

add new content block img replace two images
  src/images/component/cta-block/cta-block--link-list.jpg
  src/images/component/cta-block/cta-block--overview.jpg
  src/images/component/cta-section/cta-section--content-items.jpg
Due: none

Content fixes
  src/pages/components/cta-block-and-section.mdx
Due: prettier --write

update json to include cta block
  src/data/components.json
  src/pages/components/cta-block-and-section.mdx
Due: prettier --write

chore(image): remove unused image (#1457)
  component--lead-space--medium.jpg
Due: none

add modifier section
  src/pages/components/cta-block-and-section.mdx
Due: prettier --write

remove max breakpoint images
  src/pages/components/footer.mdx
Due: prettier --write

style changes for modifier section
  src/pages/components/cta-block-and-section.mdx
Due: prettier --write

Cta section updates 2 (#1459)
  src/data/components.json
  src/data/nav-items.yaml
  src/images/component/cta-block/cta-block--anatomy.jpg
  src/images/component/cta-block/cta-block--link-list.jpg
  src/images/component/cta-block/cta-block--overview.jpg
  src/images/component/cta-section/cta-section--anatomy.jpg
  src/images/component/cta-section/cta-section--content-items-4-up.jpg
  src/images/component/cta-section/cta-section--content-items.jpg
  src/images/component/cta-section/cta-section--content-items.png
  src/images/component/cta-section/cta-section--link-list.jpg
  src/images/component/cta-section/cta-section--overview--mini-comp.jpg
  src/images/component/cta-section/cta-section--overview.jpg
  src/pages/components/cta-block-and-section.mdx
  src/pages/components/cta-section.mdx
Due: prettier --write

add content guideance chart
  src/pages/components/footer.mdx
Due: prettier --write

add locale and language selector section and imgs
  src/images/component/footer/footer--modifier-language.png
  src/images/component/footer/footer--modifier-locale.png
  src/pages/components/footer.mdx
Due: prettier --write

add theme guidance
  src/pages/components/footer.mdx
Due: prettier --write

add new images
  src/images/component/table-of-contents/table-of-contents--default.png
  src/images/component/table-of-contents/table-of-contents--horizontal.png
  src/images/component/table-of-contents/table-of-contents--small.png
  src/images/component/table-of-contents/table-of-contents--with-heading.png
  src/images/component/table-of-contents/table-of-contents.png
Due: none
