Repository carbon-design-system/carbon-for-ibm-dotcom-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

new image
  src/images/component/feature-section/feature-section.png
Due: none

fix(content-item-row): image
  src/components/ComponentGallery/images/content_item_row.svg
Due: none

chore(pages): remove all react package references
  src/components/ComponentList/ComponentList.js
  src/components/ResourceLinks/ResourceLinks.js
  src/data/components.json
  src/pages/about-carbon-for-ibm.com/about.mdx
  src/pages/components/gallery.mdx
  src/pages/components/lead-space-block.mdx
  src/pages/contributing/components.mdx
  src/pages/developing/frameworks/react-wrapper.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/frameworks/web-components.mdx
  src/pages/developing/index.mdx
  src/pages/developing/other-packages/index.mdx
  src/pages/guidelines/right-to-left.mdx
  src/pages/index.mdx
Due: eslint --fix, prettier --write

Update src/pages/components/content-section.mdx
  src/pages/components/content-section.mdx
Due: prettier --write

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/word-wrap-1.2.3.tgz
  .yarn/offline-mirror/word-wrap-1.2.4.tgz
Due: none

Orientation into table
  src/pages/components/content-item.mdx
Due: prettier --write

chore(footer): updating to today's date
  src/gatsby-theme-carbon/components/Footer/index.js
Due: eslint --fix, prettier --write

chore(yarn): update yarn offline mirror
  .yarn/offline-mirror/semver-5.7.1.tgz
  .yarn/offline-mirror/semver-5.7.2.tgz
  .yarn/offline-mirror/semver-6.3.0.tgz
  .yarn/offline-mirror/semver-6.3.1.tgz
  .yarn/offline-mirror/semver-7.3.5.tgz
  .yarn/offline-mirror/semver-7.5.4.tgz
Due: none

Behavior edit
  src/pages/components/content-item.mdx
Due: prettier --write

added gradient, highlight modifiers, shifted
  src/pages/components/leadspace.mdx
Due: prettier --write

new image (#1695)
  src/images/component/feature-section/feature-section.png
Due: none

Update src/pages/components/content-item.mdx
  src/pages/components/content-item.mdx
Due: prettier --write

Update src/data/components.json
  src/data/components.json
Due: prettier --write

Language updates
  src/data/components.json
  src/pages/components/content-item.mdx
Due: prettier --write

More feedback updates
  src/pages/components/content-item.mdx
Due: prettier --write

chore(gitignore): add comment
  .gitignore
Due: none

Update src/pages/designing/design-kit.mdx
  src/pages/designing/design-kit.mdx
Due: prettier --write

feat(content-item-row): update website v2 (#1694)
  src/components/ComponentGallery/images/content_item_row.svg
  src/data/components.json
  src/data/nav-items.yaml
  src/images/component/content-item-row/cir-default-1.png
  src/images/component/content-item-row/cir-default-2.png
  src/images/component/content-item-row/cir-media-do-1.png
  src/images/component/content-item-row/cir-media-do-2.png
  src/images/component/content-item-row/cir-media-dont.png
  src/images/component/content-item-row/cir-thumb-do.png
  src/images/component/content-item-row/cir-thumb-dont.png
  src/images/component/content-item-row/cir-tips-tricks-mix.png
  src/images/component/content-item-row/cir-tips-tricks-single.png
  src/images/component/content-item-row/content-item-row-anatomy.png
  src/images/component/content-item-row/content-item-row-default.png
  src/images/component/content-item-row/content-item-row-featured.png
  src/images/component/content-item-row/content-item-row-media.png
  src/images/component/content-item-row/content-item-row-thumbnail.png
  src/pages/components/content-item-row.mdx
  src/pages/components/content-item.mdx
  src/pages/components/tabs-extended.mdx
  wiki/Layout-component/Content-item-row.md
  wiki/Layout-component/Tabs-extended-media.md
Due: prettier --write

Docs -- designing design kit v2 (#1686)
  src/data/nav-items.yaml
  src/images/designing/design-kit/design-kit-I.png
  src/images/designing/design-kit/design-kit-II.png
  src/images/get-started/Designing_Color_Styles_Figma.jpg
  src/images/get-started/Designing_Component_Variants_Figma.gif
  src/images/get-started/Designing_Components_Figma.gif
  src/images/get-started/Designing_Grid_Figma.gif
  src/images/get-started/Designing_Grid_Sketch.jpg
  src/images/get-started/Designing_LayersStyles_Sketch.jpg
  src/images/get-started/Designing_Libraries_Figma.gif
  src/images/get-started/Designing_Symbols_Sketch.jpg
  src/images/get-started/Designing_TextStyles_Sketch.jpg
  src/images/get-started/Designing_Text_Styles_Figma.jpg
  src/pages/designing/design-kit.mdx
  src/pages/designing/figma-kit.mdx
  src/pages/designing/other-resources.mdx
  src/pages/designing/sketch-kit.mdx
  src/pages/index.mdx
  src/pages/whats-happening/expressive-update.mdx
Due: prettier --write

Update Content guidance
  src/pages/components/content-item.mdx
Due: prettier --write

App icon update under pictogram
  src/pages/components/content-item.mdx
Due: prettier --write

pictogram clarity
  src/pages/components/content-item.mdx
Due: prettier --write

Resources swap
  src/pages/components/leadspace.mdx
Due: prettier --write

Description and heading reorganize
  src/data/components.json
  src/pages/components/leadspace.mdx
Due: prettier --write

Content updates
  src/pages/components/leadspace.mdx
Due: prettier --write

TBD notes
  src/pages/components/leadspace.mdx
Due: prettier --write

Content guidance partial
  src/pages/components/leadspace.mdx
Due: prettier --write

content guidance, lower case
  src/pages/components/leadspace.mdx
Due: prettier --write

wayfinding
  src/pages/components/leadspace.mdx
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,scss,json,html,yaml,md,mdx})
